<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AlcHttpsSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="20971520" maxBufferPoolSize="1048576" maxReceivedMessageSize="20971520"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
          <readerQuotas maxDepth="128" maxStringContentLength="1048576" maxArrayLength="3145728"
              maxBytesPerRead="49152" maxNameTableCharCount="374784" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AlcHttpSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
              receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="20971520" maxBufferPoolSize="1048576" maxReceivedMessageSize="20971520"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="false">
          <readerQuotas maxDepth="128" maxStringContentLength="1048576" maxArrayLength="3145728"
              maxBytesPerRead="49152" maxNameTableCharCount="374784" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>

      <endpoint address="https://localhost/api/services/AlcServiceLocatorPort"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcServiceLocator.AlcServiceLocatorPortType"
          name="AlcServiceLocatorPort" />

      <endpoint address="https://localhost/api/services/AlcNotifier"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcNotifier.AlcNotifierPortType"
          name="AlcNotifierPort" />

      <endpoint address="https://localhost/api/services/AlcPhone"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcPhone.AlcPhonePortType"
          name="AlcPhonePort" />

      <endpoint address="https://localhost/api/services/AlcPhoneSetProgramming"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcPhoneSetProgramming.AlcPhoneSetProgrammingPortType"
          name="AlcPhoneSetProgrammingPort" />

      <endpoint address="https://localhost/api/services/AlcPbxManagement"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcPbxManagement.AlcPbxManagementPortType"
          name="AlcPbxManagementPort" />

      <endpoint address="https://localhost/api/services/AlcFwManagement"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcFwManagement.AlcFwManagementPortType"
          name="AlcFwManagementPort" />

      <endpoint address="https://localhost/api/services/AlcApiFramework"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcApiFramework.AlcApiFrameworkPortType"
          name="AlcApiFrameworkPort" />

      <endpoint address="https://localhost/api/services/AlcMessaging"
          binding="basicHttpBinding" bindingConfiguration="AlcHttpsSoapBinding"
          contract="AlcatelXmlApi6.AlcMessaging.AlcMessagingPortType"
          name="AlcMessagingPort" />

    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexEnabled">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/XMLPhoneEvents/Service"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AlcatelPhoneEventsBase6.PhoneEvents" behaviorConfiguration="mexEnabled">
        <endpoint address="http://localhost:8080/XMLPhoneEvents" binding="basicHttpBinding" contract="AlcatelXmlApi6.AlcPhone.AlcPhoneHandlerPortType" bindingConfiguration=""/>
      </service>
    </services>
  </system.serviceModel>
</configuration>